<!-- Primary Meta Tags -->
<meta name='description' content='{{ description }}'>
<meta name='keywords' content='{{ keywords }}'>
<meta name='author' content='{{ author }}'>

<!-- Open Graph / Facebook -->
<meta property='og:type' content='website'>
<meta property='og:url' content='{{ url }}'>
<meta property="og:site_name" content="SferaSW">
<meta property='og:title' content='{{ title }}'>
<meta property='og:description' content='{{ description }}'>
<meta property='og:image' content='images/card.jpg'>

<!-- Twitter -->
<meta property='twitter:card' content='summary_large_image'>
<meta property='twitter:site' content='@sferasw'>
<meta property='twitter:creator' content='@janeRivas_'>
<meta property='twitter:title' content='{{ title }}'>
<meta property='twitter:description' content='{{ description }}'>
<meta property='twitter:image' content='images/card.jpg'>
